@charset 'utf-8';

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;

}
h1,h2,h3,h4.h5.h6,figure,p{margin: 0;}
*{
    box-sizing: border-box;
    font-size: 15px;
    color: #000;
}

h2{
    font-size: 18px;
    text-align: center;
}    /* ->모든 문서의 h2태그 */
header h2 a{
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 22px;
    text-align: center;
} 
/* 
    모든 문서 공통으로 들어감
    common.css(공통문서)
*/
a{text-decoration: none;}

header{
    background-color: rgba(255,255,255,0.7);;
    
    padding: 10px 10%;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 5;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
}
header nav .menu li{padding: 8px 15px;}
header nav .menu li a{
    position: relative;
    cursor: pointer;
}
header nav .menu li a:hover{color: #0b3e77;}

header nav .menu li a::after{
    content: '';
    clear: both;
    width: 0;
    height: 1px;
    background: #0b3e77;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in;
}
header nav .menu li:hover a::after{width: 100%;}
header nav .icon li{padding: 8px 10px;}
header nav .icon li i{font-size: 20px;}


main .spot figure img{width: 100%;}

footer{
    background-color: rgb(70, 70, 70);
    width: 100%;
}
footer .footer-nav{
    width: 100%;
    background: #767171;
    height: 46px;
    line-height: 46px;
}
footer .footer-nav ul{
    width: 80%;
    margin: 0 auto;
    list-style: none;

}
footer .footer-nav ul li{
    float: left;
}
footer .footer-nav ul li a{
    font-size: 14px;
    color: #c9c5c5;
    border-right: 1px solid #999;
    padding: 0 20px;

}
.footer-details{
    width: 100%;
    overflow: hidden;
}
.footer-details p{
    width: 80%;
    margin: 20px auto;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}
.footer-details p span{}
.footer-details p span a{
    color: #ecd4d4;
    font-size: 14px;
    margin-right: 20px;
    padding: 15px 0;
    text-decoration: underline;
}





@media (min-width: 1200px){
    .menu_buger{display: none;}
}

@media (min-width: 992px) and (max-width: 1199px){
    .menu_buger{display: none;}
}

@media (min-width:768px) and (max-width: 991px){
    header{
        flex-direction: column;
        align-items: flex-start;
    }
    header nav{width: 100%;}
    .menu{
        flex-direction: column;
        align-items: center;
    }
    .menu li{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .icon{
        justify-content: center;
    }
    .menu_buger{
        position: absolute;
        top: 27px;
        right: 90px;
    }
    .menu_buger i{font-size: 24px;}
}

@media (min-width:572px) and (max-width:767px){
    header{
        flex-direction: column;
        align-items: flex-start;
    }
    header nav{width: 100%;}
    nav .menu{
        flex-direction: column;
        align-items: center;
    }
    nav .menu li{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    nav .icon{justify-content: center;}
    .menu_buger{
        position: absolute;
        top: 27px;
        right: 90px;
    }
    .menu_buger i{font-size: 24px;}
    footer .footer-nav ul{width: 100%;}
}

@media (max-width: 571px){
    header{
        flex-direction: column;
        align-items: flex-start;
    }
    header nav{width: 100%;}
    nav .menu{
        flex-direction: column;
        align-items: center;
    }
    nav .menu li{
        width: 100%;
        text-align: center;
        margin-bottom: 2px;
    }

    nav .icon{justify-content: center;}
    .menu_buger{
        position: absolute;
        top: 27px;
        right: 70px;
    }
    .menu_buger i{font-size: 20px;}
    .spot .ac_txt2{
        font-size: 34px;
        white-space: nowrap;
    }
    .contents1 > h2{
        width: 100%;
        height: 3px;
        margin: 150px auto 50px;
    }
    .contents1 > h2 > span{
        font-size: 24px;
        top: -20px;
    }
    footer .footer-nav ul{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    footer .footer-nav ul li{float: none;}
    footer .footer-nav ul li a{
        font-size: 12px;
        font-weight: 600;
        padding: 0 7px;
        word-break: keep-all;
    }
    .footer-details{word-break: keep-all;}
    .footer-details p{
        width: 100%;
        padding: 20px;
    }

}



