@charset 'utf-8';
@import url(common.css);
header nav ul{
    list-style: none;
    display: flex;
}
.spot{position: relative;}
video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.ma_txt{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ma_txt1{
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
/* Text event */
.ma_txt1 span{
    opacity: 0;
    /* display: inline-block; */
    transition: all 0.4s ease;
    transform: translateY(50px);
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.ma_txt1 span.active{
    transform: translateY(0);
    opacity: 1;
}
.ma_txt2{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}
.container{width: 100%;}
.container h2{
    width: 80%; height: 5px;
    background-image: url(../img/Line\ 1.jpg);
    background-size: cover;
    margin: 230px auto 77px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -2;
}

.container h2 span{
    font-size: 2em;
    color: #8b8181;
    background: white;
    text-transform: uppercase;
    position: absolute;
    top: -25px;
}
.container ul{list-style: none;}
.contents{
    width:80%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;

}
.contents  figure{  
    width: 400px;
    height: 480px;
    margin-right: 20px;
    overflow: hidden;
}
.contents  figure img{
    width: 100%; height: 100%;
}
.contents figure img:hover{
    transform: scale(1.1);
    transition: all .7s ease-in-out;
}
.contents > .con-1_info{
    background: #efefef;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 7px 16px rgba(54, 54, 54, 0.3);
    position: relative;
}
.contents > .con-1_info:hover{
    transform: scale(1.05);
    transition: .5s;
}
.contents > .con-1_info > p{
    word-break: keep-all;
    font-weight: 400;
    padding: 0 25px;
    margin-bottom: 70px;
}
.contents > .con-1_info > b{
    font-size: 18px;
    white-space: nowrap;
    color: #0b3e77;
    font-weight: 600;
    display: inline-block;
    margin: 25px;
}
.contents > .con-1_info > span{
    background: #fff;
    border: 1px solid #0b3e77;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
.contents > .con-1_info > span:hover{background: #0b3e77;}
/* .contents > .con-1_info > span:hover{transform: scale(1);} */  /* 마우스 hover scale-옆으로 옮겨간다 */


.contents > .con-1_info > span > a{
    color: #0b3e77;
    line-height: 2.5;
    padding-left: 10px;
}
.contents > .con-1_info > span > a:hover{color: #ecd4d4;}

/* .contents > .con-1_info > span > a::after{
    content: '';
    clear: both;
    position: absolute;
    left: 10px; bottom: 4px;
    background: #0b3e77;
    width: 80%;
    height: 1px;
} */



.contents2{
    background-image: url(../img/travel\ background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    position: relative;

}
.contents2  .con-2{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center
}
.contents2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0;

}
.contents2 ul li{
    padding: 10px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents2 figure{
    width: 250px; height: 200px;
    position: relative;
    margin: 0;
    overflow: hidden;
}
.contents2 figure a{
    width: 250px; height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}
.contents2 figure img{width: 100%; height: 100%;}
.contents2 ul li p{
    text-align: center;
    color: white;
    margin-top: 15px;
}
.contents3{
    width: 100%; 
    position: relative;
}
.contents3 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 120px auto;
    padding: 0;
    position: relative;
    top: 0;
}
.contents3 ul li{width: 25%;}
.contents3 ul li figure{
    position: relative;
    overflow: hidden;
}
.contents3 figure img{width: 100%; vertical-align: top;}
.contents3 figure img:hover{
    transition: .5s;
    transform: scale(1.1)
}

.contents3 ul li:nth-child(2){
    position: absolute;
    left: 50%; top: -40px;
    transform: translateX(-50%);
}
.contents3 ul li:hover figure p{
    opacity: 1;
    transition: 0.5s;
}
.contents3 ul li figure p{
    width: 100%;
    height: 15%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.contents3 ul li figure p a{
    display: inline-block;
    width: 30%;
    height: 50px;
    font-size: 0;
}
.contents3 ul li:nth-of-type(1) figure p a{
    background: url(../img/icon-3.png) center center no-repeat;
}
.contents3 ul li:nth-of-type(2) figure p a{
    background: url(../img/icon5.png) center center no-repeat;
}
.contents3 ul li:nth-of-type(3) figure p a{
    background: url(../img/icon6.png) center center no-repeat;
}

.contents3 ul li p span{
    width: 60%;
    text-align: center;
    color: #0b3e77;
    font-size: 18px;
}



/* 이미지 스크롤 */

.container > div{
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
}

.container > div.active{
    opacity: 1;
    transform: translateY(0);
}






footer{
    background-color: rgb(70, 70, 70);
    width: 100%;
}
footer .map{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
}
#daumRoughmapContainer1624352978031{width: 35%;}

.map .details{}
.map .details p{
    color: #fff;
    margin: 0 auto 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    word-break: keep-all;
}
.map .details span{}
.map .details span a{
    color: #ecd4d4;
    font-size: 14px;
    margin-right: 20px;
    padding: 15px 0;
    text-decoration: none;
}

@media (min-width: 1200px){
    .contents > .con-1_info{
        width: 45%;
    }
    footer .map .details{
        width: 60%;
    }


}
@media (min-width: 992px) and (max-width: 1199px){
    .ma_txt1{white-space: nowrap;}
    .contents{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .contents figure{width: 45%;}

    .contents > .con-1_info{
        width: 80%;
        margin-top: 60px;
        border-radius: 40px;
    }
    .contents >.con-1_info > b{
        font-size: 20px;
        width: 80%;
        margin: 15px auto;
    }
    .contents >.con-1_info > p{
        width: 80%;
        margin: 0 auto 50px;
        font-size: 18px;
        padding: 0;
    }
    .contents > .con-1_info > span{margin:0;}
    .contents2 ul li{}
    .contents2 ul li figure{width: 180px;}
    .contents2 ul{}
    .contents3 ul li figure p{
        padding: 10px 0; 
        height: 20%;
        justify-content: space-between;
    }
    .contents3 ul li figure p span{font-size: 15px;}
    .contents3 ul li:nth-of-type(1) figure p span{width: 80%;}
    .contents3 ul li figure p a{padding: 0;}
    footer .map{}
    footer .map .details{
        width: 60%;
    }

}
@media (min-width:768px) and (max-width: 991px){
    .ma_txt1{
        font-size: 55px;
        white-space: nowrap;
    }
    .contents{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .contents figure{width: 45%;}

    .contents > .con-1_info{
        width: 80%;
        margin-top: 60px;
        border-radius: 40px;
    }
    .contents >.con-1_info > b{
        font-size: 20px;
        width: 80%;
        margin: 15px auto;
    }
    .contents >.con-1_info > p{
        width: 80%;
        margin: 0 auto 50px;
        font-size: 16px;
        padding: 0;
    }
    .contents > .con-1_info > span{margin:0;}
    .contents > .con-1_info > span > a{line-height: 2.2;}
    .contents2 figure{width: 180px;}
    .contents3 ul li{width: 30%;}
    .contents3 ul li figure p{height: 20%;}
    .contents3 ul li figure p a{width: 25%;}
    .contents3 ul li figure p span{font-size: 15px;}

    footer .map .details{width: 60%;}
    #daumRoughmapContainer1624352978031{width: 35%;}

}

@media (min-width:572px) and (max-width:767px){
    video{height: 80%;}
    .ma_txt1{white-space: nowrap;}
    .ma_txt1 span{font-size: 50px;}
    .container h2{margin: 150px auto 70px;}
    .contents{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contents figure{
        width: 48%;
        margin: 0;
    }
    .contents3 ul li{width: 30%;}
    .contents3 ul li figure p{
        padding: 0;
        height: 25%;
        justify-content: space-between;
    }
    .contents3 ul li figure p span{font-size: 15px;}
    .contents3 ul li:nth-of-type(1) figure p span{width: 80%;}
    .contents3 ul li figure p a{padding: 0;}
    .contents > .con-1_info{margin: 40px auto;}

    .contents3 ul{
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 80px auto;
    }
    .contents3 ul li:nth-child(2){
        position: static; 
        left: 0; top: 0;
        transform: translateX(0);
    }
    .contents3 ul li{
        width: 50%;
        margin-bottom: 25px;

    }
    .contents3 ul li p span{
        font-size: 15px;
    }

    footer .map{width: 100%;}
    .map .details{width: 60%;}


}
@media (max-width: 571px){
    video{height: 100%;}
    .ma_txt1 span{
        font-size: 30px;
        white-space: nowrap;
    }
    .ma_txt2 {
        white-space: nowrap;
        font-size: 16px;
    }
    .container h2{
        width: 100%;
        height: 3px;
        margin: 150px auto 50px;
    }
    .container h2 span{
        font-size: 24px;
        top: -20px;
    }
    .contents{
        flex-direction: column;
        justify-content: space-between;
    }
    .contents figure{
        margin: 0;
        height: 350px;
        margin: 20px;
        width: 100%;
    }
    .contents figure:nth-of-type(1){margin-bottom: 0;}
    .contents > .con-1_info{
        padding: 0 30px;
        position: relative;
        width: 100%;
    }
    .contents > .con-1_info > p{
        height: 100%;
        word-break: keep-all;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0;
    }
    .contents > .con-1_info > span{
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 8px;
    }
    .contents3 ul{
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 80px auto;
    }
    .contents3 ul li:nth-child(2){
        position: static; 
        left: 0; top: 0;
        transform: translateX(0);
    }
    .contents3 ul li{
        width: 70%;
        margin-bottom: 25px;

    }
    .contents3 ul li p span{
        font-size: 15px;
    }

    .container h2{
        width: 100%;
        height: 3px;
        margin: 150px auto 50px;    
    }
    footer .map{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    #daumRoughmapContainer1624352978031{width: 80%;}
    .map .details{width: 100%;}
    .map .details p{
        font-size: 13px; 
        line-height: 1.5;
        margin: 20px auto;
    }
    footer .footer-nav ul{width: 80%;}
    footer .footer-nav ul li a{padding: 0 20px;}


}
