@charset 'utf-8';
@import url(common.css);
.spot{position: relative;}
.spot .slider{
    width: 100%;
    height: 100%;
}

.ac_txt{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ac_txt1{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: white;
}
.ac_txt2{
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: white;
}


/* Text event */
.ac_txt2 span{
    opacity: 0;
    /* display: inline-block; */
    transition: all 0.4s ease;
    transform: translateY(50px);
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.ac_txt2 span.active{
    transform: translateY(0);
    opacity: 1;
}


.contents1{
    width: 100%;
}
.contents1 > h2{
    background: url(../img/Line\ 1.jpg);
    background-size: cover;
    width: 80%; height: 5px;
    margin: 230px auto 90px;
    z-index: -2;
    position: relative;
    display: flex;
    justify-content: center;
}
.contents1 > h2 span{
    font-size: 2em;
    color: #8b8181;
    background: white;
    text-transform: uppercase;
    position: absolute;
    top: -25px;
}
.con-1{
    width:80%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
}
.con-1 figure{
    width: 400px;
    height: 480px;
    margin-right: 20px;
}
.con-1 figure img{width: 100%; height: 100%;}
.con-1 > .con-1_info{
    background: #efefef;
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    box-shadow: 5px 7px 16px rgba(54, 54, 54, 0.3);
}
.con-1 > .con-1_info > p{font-weight: 400;}
.con-1 > .con-1_info > p > b{
    font-size: 20px;
    color: #0b3e77;
    font-weight: 500;
}
/* .con-1 > .con-1_info > span{
    background: #0b3e77;
    width: 100px;
    position: relative;
    margin-top: 15px;
}
.con-1 > .con-1_info > span > a{
    color: #ecd4d4;
    line-height: 2.5;
    padding-left: 10px;
}
.con-1 > .con-1_info > span > a::after{
    content: '';
    clear: both;
    position: absolute;
    left: 0; bottom: 3px;
    background: #ecd4d4;
    width: 100%;
    height: 1px;
} */
.con-2 figure{
    margin-top: 200px;
    position: relative;
}
.con-2 figure img{width: 100%;}
.con-2  figure  h2{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3em;
    font-weight: 600;
}
.con-3{
    width: 80%;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.con-3 .address{
    background: #0b3e77;
    color: #ecd4d4;
    height: 50px;
    padding: 12px;
    margin-right: 40px;
    border-radius: 20px;
}
.con-5{
    width: 100%;
}
.con-5 ul{
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px auto;
    padding: 0;
    position: relative;
    top: 0;
    cursor: pointer;
}
.con-5 ul li{width: 25%;}
.con-5 ul li figure{
    position: relative;
    overflow: hidden;
}
.con-5 ul li:nth-child(2){
    position: absolute;
    left: 50%; top: -40px;
    transform: translateX(-50%);
}

.con-5 ul li figure img{width: 100%;}
.con-5 ul li figure img:hover{
    transition: .5s;
    transform: scale(1.1)
}


.con-5 ul li:hover p{
    opacity: 1;
    transition: 0.5s;
}
.con-5 ul li p{
    width: 100%;
    height: 15%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.con-5 ul li p a{
    display: inline-block;
    width: 30%;
    height: 50px;
    font-size: 0;
}

.con-5 > ul li:nth-of-type(1) figure p a{
    background: url(../img/icon-3.png) center center no-repeat;
}
.con-5 > ul li:nth-of-type(2) figure p a{
    background: url(../img/icon5.png) center center no-repeat;
}
.con-5 > ul li:nth-of-type(3) figure p a{
    background: url(../img/icon6.png) center center no-repeat;
}

.con-5 ul li p span{
    width: 60%;
    text-align: center;
    color: #0b3e77;
    font-size: 18px;
}

/* 팝업 */
.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    height:100%;
    z-index: 20;
    display: none;
}
.popup > figure{
    width: 600px;height: 300px;
    position: relative;
}
.popup > figure img{ width: 100%; height: 100%;}
.popup > figure p{
    text-align: center;
    color: #e3e0e0;
    padding: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 600px;
    height: 300px;
    opacity: 0;
    word-break: keep-all;
}
.popup > figure p:hover{
    opacity: 1;
    transition: 0.5s;
}


.popup p strong{
    font-size: 30px;
    color: #0b3e77;

} 

/* 이미지 스크롤 */

.contents1 > div{
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
}

.contents1 > div.active{
    opacity: 1;
    transform: translateY(0);
}





@media (min-width: 992px) and (max-width: 1199px){
    .menu_buger{display: none;}
    .con-1 .con-1_info{
        width: 400px;
        height: 480px;
        justify-content: space-around;
    }
    .con-1 .con-1_info p{
        height: 360px;
        padding-top: 20px;
        margin-bottom: 5px;
    }
    .con-1 .con-1_info p b{
        padding-top: 5px;
    }
    .con-1 .con-1_info span{
        margin: 0;
    }
    .con-3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-bottom: 30px;
    }
    .con-3 .address{margin: 0;}

    .con-5 ul li figure p{
        padding: 10px 0; 
        height: 20%;
        justify-content: space-between;
    }
    .con-5 ul li figure p span{font-size: 15px;}
    .con-5 ul li:nth-of-type(1) figure p span{width: 80%;}
    .con-5 ul li figure p a{padding: 0;}


}
@media (min-width:768px) and (max-width: 991px){
    .con-1{display: block;}
    .con-1 figure{
        margin-right: 0;
        margin-bottom: 50px;
        padding-right: 15px;
    }
    .con-1 figure:nth-child(1){
        display: inline-block;
        float: left;
        width: 50%;
    }
    .con-1 figure:nth-child(2){
        float: right;
        display: inline-block;
        width: 50%;
    }
    .con-1 .con-1_info{
        width: 80%;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .con-1 .con-1_info p{
        font-size: 18px;
        word-break: keep-all;
    }

    .con-1 .con-1_info span{margin-right: 300px;}
    .con-2 figure{margin-top: 170px;}
    .con-3 .address{
        word-break: keep-all;
        text-align: center;
        margin: 0 0 0 10px;
        padding: 15px;
        height: 60px;
    }

    .con-5 ul li{width: 30%;}
    .con-5 ul li figure p{height: 20%;}
    .con-5 ul li figure p a{width: 25%;}
    .con-5 ul li figure p span{font-size: 15px;}



}
@media (min-width:572px) and (max-width:767px){
    .con-1{display: block;}
    .con-1 figure{
        width: 100%; 
        margin-bottom: 40px;
    }
    .con-1 .con-1_info{
        width: 100%;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        word-break: keep-all;
    }

    .con-1 .con-1_info span{margin-right: 270px;}
    .con-3{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .con-3 .address{
        word-break: keep-all;
        margin: 0 0 0 15px;
        height: 60px;
    }

    .con-5 ul{
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 80px auto;
    }
    .con-5 ul li:nth-child(2){
        position: static; 
        left: 0; top: 0;
        transform: translateX(0);
    }
    .con-5 ul li{
        width: 50%;
        margin-bottom: 25px;

    }
    .con-5 ul li p span{
        font-size: 15px;
    }
    .popup > figure{width: 80%;}
    .popup > figure p{
        padding: 35px;
        width: 100%;
        height: 100%;
    }


}

@media (max-width: 571px){
    .spot .ac_txt2{
        white-space: nowrap;
    }
    .spot .ac_txt2 span{font-size: 50px;}
    .contents1 > h2{
        width: 100%;
        height: 3px;
        margin: 150px auto 50px;
    }

    .contents1 > h2 > span{
        font-size: 24px;
        top: -20px;
    }

    .con-1{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .con-1 figure{
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
    }
    .con-1 .con-1_info{
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .con-1 .con-1_info p{
        height: 100%;
        word-break: keep-all;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
    }
    .con-1 .con-1_info p b{
        font-size: 17px;
    }
    .con-1 .con-1_info span{margin-right: 185px;}

    .con-2 figure h2{
        font-size: 28px;
        white-space: nowrap;
    }
    .con-3{
        width: 100%;
        flex-direction: column;
    }
    .con-3 .address{
        white-space: nowrap;
        margin: 30px auto 0;
        word-break: keep-all;
    }

    .con-5 ul{
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 80px auto;
    }
    .con-5 ul li:nth-child(2){
        position: static; 
        left: 0; top: 0;
        transform: translateX(0);
    }
    .con-5 ul li{
        width: 70%;
        margin-bottom: 25px;

    }
    .con-5 ul li p span{
        font-size: 15px;
    }
    .popup > figure{width: 80%;}
    .popup > figure p{
        padding: 35px;
        width: 100%;
        height: 100%;
    }

    .con-2 figure{margin-top: 100px;}

    footer .footer-nav ul{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    footer .footer-nav ul li{float: none;}
    footer .footer-nav ul li a{
        font-size: 14px;
        font-weight: 600;
        padding: 0 5px;
        word-break: keep-all;
    }
    .footer-details{word-break: keep-all;}
    .footer-details p{
        width: 100%;
        padding: 20px;
    }
    


}
