@charset 'utf-8';
@import url(common.css);
.spot{
    margin-top: 40px;
    position: relative;
}
.spot figure{width: 100%;}
.spot figure img{height: 100%; height: 100%;}
.travel-title{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0 20px;
    display: flex;
    width: 180px;
    height: 300px;
    position: absolute;
    top: 80px;
    left: 200px;
}
.travel-title h1{
    writing-mode: tb-rl;
    font-size: 35px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    padding:30px 20px 30px 25px;
}
.travel-title p{
    writing-mode: tb-rl;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    color: #636363;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 7px;
}
.contents1{width: 100%;}
.contents1  h2{
    background: url(../img/Line\ 1.jpg);
    background-size: cover;
    width: 80%; height: 5px;
    margin: 230px auto 80px;
    z-index: -2;
    position: relative;
    display: flex;
    justify-content: center;
}
.contents1  h2 span{
    font-size: 2em;
    color: #8b8181;
    background: white;
    text-transform: uppercase;
    position: absolute;
    top: -25px;
}
.contents1  span{
    text-align: center;
    display: block;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    color: #636363;
}
.con-1{
    background: url(../img/tourguide-2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin: auto;
    position: relative;
}
.con-1 form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 12px;
}
.con-1 form input{width: 15px; height: 15px;}


.infowrap{width: 100%;}

/* 정보1
 *//* .infowrap .infotxt{
    width: 70%;
    height: 300px;
    border-radius: 60px;
    margin: 80px auto;
    background: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infowrap .infotxt span{
    color: #0b3e77;
    font-weight: 400;
    font-size: 20px;
    padding: 0 30px;
    margin: 0;
    white-space: nowrap;

 }
.infowrap .infotxt span strong{
    font-size: 24px;
    color: #000;
}
.infowrap .infotxt p{
    font-size: 18px;
    line-height: 1.5;
    margin: auto;
    color: #636363;
    word-break: keep-all;
} */

.infotxt2{
    width: 100%;
    margin: 100px auto;
    position: relative;
}
.infotxt2 ul{
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.infotxt2 ul li{padding: 10px 15px;}
.infotxt2 ul li figure{
    position: relative;
    width: 280px;
    height: 200px;
    overflow: hidden;
}
.infotxt2 ul li figure img{width: 100%; height: 100%;}

.infotxt2 ul li figure figcaption{
    width: 100%;
    height: 200px;
    font-size: 24px;
    text-align: center;
    color: #0b3e77;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
}
.infotxt2 ul li figure:hover figcaption{
    opacity: 1;
    transition: 0.5s;
}

.infotxt2 ul li figure img{width: 100%; height: 100%;}

/* .infotxt2 span{
    display: flex;
    margin: 50px auto 0;
    text-align: center;
    width: 200px;
    height: 50px;
    border: 1px solid #0b3e77;
    color: #0b3e77;
}
.infotxt2 span a{
    display: inline-block;
    width: 200px;
    height: 50px;
    color: #0b3e77;
    line-height: 50px;
    font-weight: 800;
}
.infotxt2 span a:hover{
    color: #ecd4d4;
    background: #0b3e77;
} */




/* 기존팝업 */

.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup .all{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}
.popup .all > figure{width: 50%;}
.popup .all > figure img{width: 100%; height: 250px;}
.popup .all > figure figcaption{
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 700;
    color: #0b3e77;
}
.popup .all > div{
    width: 70%;
    text-align: left;
    line-height: 2;
    font-size: 15px;
    color: #636363;
    border-radius: 30px;
    word-break: keep-all;
    padding: 15px;
}






@media (min-width: 992px) and (max-width: 1199px){
    .infowrap .infotxt {width: 75%; height: 300px;}
    .infotxt span{white-space: nowrap;}
    .infowrap .infotxt p{
        font-size: 16px;
        margin: 0;
        padding: 10px 5px;
    }
    .infotxt2 ul{
        justify-content: space-between;
    }
    .infotxt2 ul li{padding: 0;}
    .infotxt2 ul li figure{
        width: 220px;
        height: 180px;
    }
    .infotxt2 ul li figure figcaption{
        width: 220px;
        height: 180px;
    }
    .travel-title{
        height: 280px;
        top: 65px;
        left: 175px;
    }

    .infotxt2 .all{
        height: 100%;
        padding: 20px;
    }
    .infotxt2 > .all > figure{
        width: 70%; margin: 0 auto;
        height: 60%;
    }
    .infotxt2 .all > figure img{height: 350px;}
    .infotxt2 .all > figure figcaption{font-size: 25px; margin: 0;}
    .infotxt2 .all > div{
        padding: 10px;
        margin: 10px 0;
        width: 80%;
        font-size: 18px;
    }


}
@media (min-width:768px) and (max-width: 991px){
    .travel-title{
        width: 150px;
         height: 230px;
         top: 40px; left: 65px;
        }
    .travel-title h1{
        font-size: 28px;
        padding: 15px 10px 15px 25px;
        text-align: center;
    }
    .travel-title p{
        padding-left: 5px;
        font-size: 20px;
    }
    .contents1 span{margin-bottom: 70px;}
    .infowrap .infotxt{
        height: 300px;
        width: 80%;
    }
    .infowrap .infotxt span{
        padding: 10px;
        white-space: nowrap;
    }
    .infowrap .infotxt p{
        word-break: keep-all;
        line-height: 1.4;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
    }

    .infotxt2{margin: 100px auto;}
    .infotxt2 ul{
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
    }
    .infotxt2 ul li figure figcaption{
        height: 150px;
        font-size: 20px;
    }
    .infotxt2 span{margin: 30px auto;}


    .infotxt2 .all{height: 100%; padding: 20px;}
    .infotxt2 > .all > figure{width: 60%; margin: 0 auto;}
    .infotxt2 .all > figure img{height: 250px;}

}
@media (min-width:572px) and (max-width:767px){
    .travel-title{
        width: 120px;
         height: 200px;
         top: 35px; left: 65px;
        }
    .travel-title h1{
        font-size: 24px;
        padding: 10px 7px 10px 15px;
        text-align: center;
    }
    .travel-title p{
        padding-left: 5px;
        font-size: 18px;
    }
    .contents1 h2{margin-bottom: 60px;}
    .contents1 span{font-size: 20px;}
    .con-1 form{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 12px;
    }

    .infowrap .infotxt{
        width: 100%;
        height: 350px;
    }
    .infowrap .infotxt span{
        padding: 15px;
        white-space: nowrap;
    }
    .infowrap .infotxt p{
        word-break: keep-all;
        line-height: 1.4;
        font-weight: 400;
        font-size: 14px;
        margin: 100px 10px;
    }


    .infotxt2{margin: 100px auto;}
    .infotxt2 ul{
        width: 90%;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        flex-flow: wrap;
    }
    .infotxt2 ul li figure{
        width:230px;
        height: 150px;
    }
    .infotxt2 ul li figure figcaption{
        height: 150px;
        font-size: 20px;
    }
    .infotxt2 span{margin: 30px auto;}

    .infotxt2 .all{
        width: 70%;
        height: 100%;
        padding: 20px;
    }
    .infotxt2 > .all > figure{width: 60%; margin: 0 auto;}
    /* .infotxt2 .all > figure img{height: 200px;} */
    .infotxt2 .all > figure figcaption{font-size: 20px; margin: 0;}
    .infotxt2 .all > div{
        padding: 10px;
        margin: 10px 0;
        width: 70%;
        height: 20%;
        overflow: scroll;
        font-size: 13px;
        line-height: 1.5;
        
    }




}











@media (max-width: 571px){
    .spot figure{width: 100%; height: 150px;}
    .contents1 > h2{
        width: 100%;
        height: 3px;
        margin: 150px auto 50px;
    }
    .contents1 > h2 > span{
        font-size: 24px;
        top: -20px;
    }
    .travel-title{
        width: 80px;
        height: 120px;
        top: 15px;
        left: 35px;
        display: flex;
        justify-content: center;
    }
    .travel-title h1{
        font-size: 15px;
        padding: 0 0 0 5px;
        text-align: center;
    }
    .travel-title p{
        font-size: 13px;
        padding-left: 3px;
    }
    .contents1 span{font-size: 15px;}
    .con-1{height: 300px;}
    .con-1 form{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 12px;
    }
    .infowrap{margin-bottom: 150px;}
    .infowrap .infotxt{
        width: 100%;
        height: 280px;
        margin: 75px 0;
        flex-direction: column;
        justify-content: center;
    }
    .infowrap .infotxt span{margin-top: 15px;}
    .infowrap .infotxt span strong{font-size: 24px;}

    .infowrap .infotxt p{
        font-size: 15px;
        word-break: keep-all;
        padding: 15px;
        margin: 10px;
        overflow: scroll;
    }
    .infotxt2{margin: 120px auto;}
    .infotxt2 ul{
        flex-direction: column;
        margin: 0 auto;
    }
    .infotxt2 ul li figure{
        width:200px;
        height: 150px;
    }
    .infotxt2 ul li figure figcaption{height: 150px;}

    .infotxt2 span{margin: 30px auto;}

    .infotxt2 .all{
        height: 100%;
        padding: 20px;
    }
    .infotxt2 > .all > figure{width: 70%; margin: 0 auto;}
    /* .infotxt2 .all > figure img{height: 200px;} */
    .infotxt2 .all > figure figcaption{font-size: 20px; margin: 0;}
    .infotxt2 .all > div{
        padding: 10px;
        margin: 10px 0;
        width: 80%;
        height: 200px;
        overflow: scroll;
        font-size: 11px;
        
    }

}




